*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #27E1C1;
     
}

.wrapper{
    width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.container {
    width: 100%;
    background-color: #5aecd3;
    padding: 50px 40px;
    box-shadow: 0 20px 65px rgba(51, 220, 220, 0.5);
    position: relative;
    border-radius: 10px;
    text-align: center;
}

.container:after{
    content: "";
    position: absolute;
    width: 80%;
    height: 120%;
    background-color: white;
    z-index: -1;
    top: -10%;
    left: 10%;
}

#quote{
    color: aliceblue;
    line-height: 2;
    font-size: 18px; 
}

#author{
    color: rgb(22, 22, 22);
    margin: 20px 0 60px 0;
    font-weight: 600;
    text-transform: capitalize;
}

#btn{
    background-color: white;
    padding: 15px 45px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #27E1C1;
    cursor: pointer;
}
